{% extends "core/base.html" %}

{% block title %}社会的知性値診断{% endblock title %}

{% block content %}
    <h1>社会的知性値診断へようこそ</h1>
        {% if user.is_authenticated %}
            <p>{{ greeting }}、{{ user.username }}さん！</p>
        {% endif %}
        <p>
            これから、20問の質問を通して、あなたの社会的知性値(SQ)を測定します。<br>
            社会的知性値について詳しく知りたい方は<a href='{% url 'sq_detail' %}'>こちら</a>をご覧ください<br>
            診断を中断することも可能ですが、その場合は社会的知性の評価は低く算出されますので、できるだけ最後までお答えいただくことをお勧めします。<br>
            診断が終了すると、結果とともに詳しい評価や、社会的知性値を高めるための具体的なアドバイスを提供します。<br>
            それでは、以下のボタンをクリックして診断を開始してください。
        </p>
        <div class="button"><a href="{% url 'start_diagnosis' %}">診断開始</a></div>
        <div id="result" class="hidden">
            <h2>あなたの社会的知性値</h2>
            <p id="score"></p>
            <p id="interpretation"></p>
        </div>
{% endblock content %}