{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Sign Up</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/signup.css' %}">

</head>
<body>
  <div class="login-container">
    <h2>新規登録</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">登録する</button>
    </form>
    <div class="links">
      <span>すでにアカウントをお持ちの方</span>
      <a href="{% url 'login' %}">ログイン</a>
    </div>
  </div>
</body>
</html>
