body {
    font-family: 'Arial', sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    color: white;
    padding: 1rem 0;
}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 1.5rem;
}

.nav-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #4CAF50;
}

.nav-links li:last-child a {
    background-color: #4CAF50;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.nav-links li:last-child a:hover {
    background-color: #45a049;
    color: white;
}

.container {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
    max-width: 1000px;
    margin: 2rem auto;
}

h1 {
    color: #333;
    margin-bottom: 1.5rem;
}

h2 {
    color: #333;
    margin-top: 2rem;
}

p {
    font-size: 1.1rem;
    line-height: 1.8;
    margin-bottom: 1.5rem;
}

ol {
    list-style-type: decimal;
    margin-left: 1.5rem;
}

ol li {
    margin-bottom: 1rem;
    font-size: 1.1rem;
    line-height: 1.8;
}

strong {
    color: #333;
}

/* buttonタグ用のデザイン */
button.btn-radius-solid {
    border: 1px solid #ccc;
    background: #f1e767;
    background: -webkit-gradient(linear, left top, left bottom, from(#fdfbfb), to(#ebedee));
    background: -webkit-linear-gradient(top, #fdfbfb 0%, #ebedee 100%);
    background: linear-gradient(to bottom, #fdfbfb 0%, #ebedee 100%);
    -webkit-box-shadow: inset 1px 1px 1px #fff;
    box-shadow: inset 1px 1px 1px #fff;
  }
  
button.btn-radius-solid:hover {
    background: -webkit-gradient(linear, left bottom, left top, from(#fdfbfb), to(#ebedee));
    background: -webkit-linear-gradient(bottom, #fdfbfb 0%, #ebedee 100%);
    background: linear-gradient(to top, #fdfbfb 0%, #ebedee 100%);
}

.button a {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    max-width: 250px;
    padding: 10px 25px;
    color: #333;
    font-family: "Noto Sans Japanese";
    text-decoration: none;
    color: #333;
    line-height: 1.8;
    transition: 0.3s ease-in-out;
    font-weight: 500;
    background: #eee;
    border-radius: 9999px;
    border-bottom: 2px solid #999;
    box-shadow: 0 2px 7px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, .3);
}
.button a:hover {
    color: #fff;
    background: #999;
    border-bottom: 2px solid #fff;
    transform: translateY(3px);
}

.hidden {
    display: none;
}

#result {
    margin-top: 2rem;
}

#score {
    font-size: 24px;
    font-weight: bold;
    color: #4CAF50;
}

@media (max-width: 768px) {
    .nav-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links {
        margin-top: 1rem;
    }

    .nav-links li {
        margin-left: 0;
        margin-right: 1.5rem;
    }

    .nav-links li:last-child {
        margin-left: 0;
        margin-top: 1rem;
    }
}

ul {
    word-wrap: break-word;
    white-space: normal;
}

table {
    font-size: 16px;
    text-align: center;
}

td {
    text-align: center;
    padding: 8px;
    word-wrap: break-word;
    width: 600px;
}

.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.progress-circle {
    position: relative;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-svg {
    transform: rotate(-90deg);
}

#progress-bar {
    stroke-linecap: round;
    transition: stroke-dashoffset 0.5s ease;
}

.circle-percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    color: #000;
    text-align: center;
}
